doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
        //- link(href='bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
        link(rel="stylesheet", type="text/css", href="css/main.css")
        title About

    body(id="company")

        .container-fluid
            .row
                section#about
                    .container
                        .row
                            .col-md-12
                                nav.navbar.navbar-default.navbar-fixed-top
                                    .container
                                        .row
                                            .col-md-12.sumati-logo-container

                                                a(href="home_page.html")

                                                    img.img-responsive(src='images/svg/sumati_logo.svg')

                                            .navbar-header
                                                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-nav', aria-expanded='false')
                                                    span.sr-only Toggle navigation
                                                    span.icon-bar
                                                    span.icon-bar
                                                    span.icon-bar
                                            #main-nav.collapse.navbar-collapse

                                                ul.col-lg-6.col-md-8.col-xs-12.nav.navbar-nav.main-navbar.navbar-about-managment
                                                    li
                                                        a(href='home_page.html') Home

                                                    li.dropdown
                                                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                                            | Contract Risk Management
                                                        ul.dropdown-menu.about-risk

                                                            li
                                                                a(href='index.html#sumaticontractrisk') Sumati Contract Risk Management
                                                                    sup TM
                                                            li
                                                                a(href='index.html#legacy') Legacy Contract Migration
                                                            li
                                                                a(href='index.html#virtualattorney') Sumati Virtual Attorney
                                                                    sup TM

                                                            li
                                                                a(href='index.html#clmconfig') CLM Configuration / Customization

                                                            li
                                                                a(href='index.html#clmapplication') CLM Application Support

                                                            li
                                                                a(href='index.html#sumaticontracts') Sumati Contracts
                                                                    sup TM

                                                    li.dropdown
                                                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                                            | About
                                                        ul.dropdown-menu.about
                                                            li
                                                                a(href='#company') The Company

                                                            li
                                                                a(href='#ourteam') Our Team
                                                            li
                                                                a(href='#mgmt') Management Team


                                                    li.dropdown
                                                        a.dropdown-toggle(href='#', data-toggle='dropdown2', role='button', aria-haspopup='true', aria-expanded='false')
                                                            | Contact
                                                        ul.dropdown-menu.about-contact

                                                            li
                                                                a(href='contact_page.html') Contact Sumati



                    .col-md-12.bg-himalaya

                        .container

                            .row

                                .col-lg-12.col-md-12.icon-text-box

                                    .col-md-4
                                        .row

                                            .col-md-2

                                                img.image-small(src="images/integrity-icon.png")

                                            .col-md-12

                                                span Culture of Trust
                                                p Surrounded by the magnificent Himalaya mountains, our operations teams have a
                                                    |culture of trust that is embedded in our daily work - trust in each other and our clients


                                    .col-md-4

                                        .col-md-2
                                            img.image-small(src="images/svg/fiverings_export.svg")

                                        .col-md-12

                                            span Five Rings of Security
                                            p Sumati Operations Center is located in a state of the art 40 acre IT park,
                                                |with world class infrastructure.
                                                |Our five rings of physical security is optimal for client peace of mind.

                                    .col-md-4

                                        .col-md-2
                                            img.image-small(src="images/svg/india_map.svg")

                                        .col-md-12

                                            span Chandigarh, India Operations
                                            p Our India-based operations center is the
                                                |Attorney Services
                                                |Technology Services
                                                |nucleus of our company. Chandigarh has the
                                                |highest per capita income of any city in
                                                |India - providing workforce stability.


                section(id="sumatiteam")

                    .col-md-12.bg-sumati-team(id="ourteam")

                        .container
                            .row
                                .col-lg-12.col-md-12.icon-text-box.team-box
                                    .row
                                        .col-md-4.talent-box

                                            span.glyphicon.glyphicon-plus
                                            span Committed Talent
                                            p.commited-integrity We have access to thousands of expert
                                                |attorneys and technologists within a 30 km radius of our operations center.
                                                |Our ethos and culture result in a very low staff churn rate.


                                        .col-md-4


                                            span.glyphicon.glyphicon-plus
                                            span Integrity + Confidetiality
                                            p.commited-integrity Our staff are rigously screened and operate with the utmost integrity and confidentiality in their
                                                |daily managment of our clients’ sensitive company data.


                                        .col-md-4
                                            span.glyphicon.glyphicon-plus
                                            span Staff Training + Support
                                            p.commited-integrity Our team members receive training and
                                                |internal support to succeed. We believe that this investment in our people improves the quality of service for our clients.
                                            a(id="mgmt")

                section(id="managment")

                    .container

                        .col-md-12

                            h1 Management Team

                        .col-lg-11.col-md-11

                            h4 Seasoned
                            p Our management team lives by our core value of Sumati - or pure intent. We strive to always do the right thing (though we may not always do things right).
                                |This means that we view all Sumati colleagues, clients and partners as having pure intent in all their actions.
                                |This is the foundation of our management philosophy and has the added benefit of constant optimism.


                        .col-md-11.member-descriptionone
                            .row
                                .col-md-4

                                    img.img-responsive(src="images/sumati-members/sumati-member-pd.jpg")

                                .col-md-8

                                    h2 PRASHANT DUBEY
                                    h4 President & CEO
                                    p Prashant is a seasoned executive with over 25 years leading high growth technology companies
                                        | that he has helped to and through successful exits.
                                        | He founded The Sumati Group to provide solutions to the Office of General Counsel in domains that help reduce cost, risk and cycle time.
                                        | Prashant has been a strategy consultant at Bain, an operating manager at Baxter International and an executive at Tripwire,
                                        | ABC Technologies and Fios. He holds a BA Economics from the University of Chicago
                                        | and a MBA in Finance from the University of Chicago, Booth School of Business.
                                        | Prashant straddles the “space between” while enjoying old school rap as much as classical Indian ghazals.


                        .col-md-11.member-descriptiontwo
                            .row
                                .col-md-4

                                    img.img-responsive(src="images/sumati-members/sumati-member-pk.jpg")

                                .col-md-8

                                    h2 PAWAN KUMAR
                                    h4 Chief Operating Officer
                                    p Pawan is a tenured business management, operations and technology leader.
                                        | As the operational head of The Sumati Group’s India Technology & Operations Center, Pawan is
                                        | responsible for ensuring that the Sumati team delivers exceptional service and quality to our
                                        | clients. Pawan brings 15 years of professional experience managing large, complex, IT Enabled
                                        | services operations. Pawan is one of the pioneers of the Indian Legal Services industry and as a
                                        | successful entrepreneur has built services business in rapidly evolving markets such as electronic
                                        | discovery. Pawan holds a Masters in both Computer Application (MCA) as well as Business Administration (MBA). His favorite vegetable is potato.



                        .col-md-11.member-descriptionthree
                            .row
                                .col-md-4

                                    img.img-responsive(src="images/sumati-members/sumati-member-ys.jpg")

                                .col-md-8

                                    h2 YOGITA SHARMA
                                    h4 VP, Human Resources + Corporate Compliance
                                    p Yogita has more than a decade of experience managing Human Resources functions across diverse organizations spanning start-ups and large household name companies.
                                        | Her exceptional proficiency in interpersonal relationships and process improvisation
                                        | has been invaluable as she has created and led a full spectrum of Human Resources programs, services and functions such
                                        | as business HR, employee engagement, organizational diagnostics and performance management.
                                        | Yogita holds double Master's degrees in Economics and Management in addition to being a certified Organizational Development professional.
                                        | As a “people company” Sumati relies on Yogita’s intensity, borne from her CrossFit training,
                                        | to have a robust recruitment and retention system for talented colleagues.

                        .col-md-11.member-descriptionfour
                            .row

                                .col-md-4

                                    img.img-responsive(src="images/sumati-members/sumati-member-nn.jpg")

                                .col-md-8

                                    h2 NEETIKA NARULA
                                    h4 VP, Legal + Compliance
                                    p Neetika is a seasoned lawyer with over a decade of experience in serving General Counsel in domains
                                        | such as analyzing, enriching, drafting and negotiating contracts,
                                        | litigation document review, document production and multi-jurisdictional legal research.
                                        | Neetika leads teams of senior lawyers
                                        | who manage a portfolio of complex work such as legacy contract migration, con- tract negotiation and trademark portfolio management.
                                        | Her detail orientation, technology fluency and operational rigor is the foundation for Sumati's successful client engagements.
                                        | Neetika holds a Masters in Law, with specialization in Commercial & Company Laws and a Post Graduate Diploma in Outsourced Legal Services.
                                        | She feels that a lawyer with a camera wields extraordinary power.

                        .col-md-11.member-descriptionfive
                            .row

                                .col-md-4

                                    img.img-responsive(src="images/sumati-members/sumati-member-sm.jpg")

                                .col-md-8

                                    h2 SACHIN MITTAL
                                    h4 VP, Technology + Information Management
                                    p At Sumati, Sachin has built a world-class team of developers, QA professionals and maintenance and support
                                        | professionals to serve our clients.
                                        | Over the past 12 years, Sachin has developed deep experience in domains such as contract
                                        | lifecycle management eDiscovery and intellectual property.
                                        | His customer centric and continuous improvement philosophies ensure
                                        | that Sumati Dedicated Operations Centers (DOC) add incremental value to clients on a daily basis.
                                        | Sachin is a process expert and has served as an internal ISO auditor.
                                        | He holds masters degrees in Computer and Business Administration.
                                        | Sachin has a penchant for saying the most surprising things in the most unexpected venues,
                                        | which is a source of great delight for our colleagues and clients.




                        .col-md-12.image-container
                            .row

                                .col-md-4.member

                                    img#one.img-responsive(src="images/sumati-members/sumati-member-pd.jpg")

                                    .box-hover
                                        span.text-uppercase Prashant Dubey
                                        p
                                            span President + CEO
                                            span.pull-right > FULL BIO

                                .col-md-4.member

                                    img#two.img-responsive(src="images/sumati-members/sumati-member-pk.jpg")

                                    .box-hover
                                        span.text-uppercase Pawan Kumar
                                        p
                                            span COO
                                            span.pull-right > FULL BIO

                                .col-md-4.member

                                    img#three.img-responsive(src="images/sumati-members/sumati-member-ys.jpg")

                                    .box-hover
                                        span.text-uppercase Yogita Sharma
                                        p
                                            span VP HR + Corporate Compliance
                                            span.pull-right > FULL BIO

                        .col-md-12.image-container
                            .row

                                .col-md-4.member

                                    img#four.img-responsive(src="images/sumati-members/sumati-member-nn.jpg")
                                    .box-hover
                                        span.text-uppercase Neetika Narula
                                        p
                                            span VP Legal + Compliance
                                            span.pull-right > FULL BIO

                                .col-md-4.member

                                    img#five.img-responsive(src="images/sumati-members/sumati-member-sm.jpg")
                                    .box-hover
                                        span.text-uppercase Sachin Mittal
                                        p
                                            span VP Technology + Information Mgmt
                                            span.pull-right > FULL BIO





        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        //- script(src="bower_components/jquery/dist/jquery.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

        script(src="javascript/j.js")
        //- script(src="bower_components/bootstrap/dist/js/bootstrap.js")
            // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
            script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
            script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')