doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
        //- link(href='bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')

        link(rel="stylesheet", type="text/css", href="css/main.css")

        title Sumati website

    body(id="sumaticontractrisk")

        .container-fluid

            .row
                section#reducerisk
                    .col-md-12.box-blue
                        .container
                            .row

                                .col-md-12
                                    nav.navbar.navbar-default.navbar-fixed-top

                                        .container
                                            .row

                                                .col-md-12.sumati-logo-container
                                                    a(href="home_page.html")
                                                        img.img-responsive(src=src='images/svg/sumati_logo.svg')

                                                .navbar-header
                                                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-nav', aria-expanded='false')
                                                        span.sr-only Toggle navigation
                                                        span.icon-bar
                                                        span.icon-bar
                                                        span.icon-bar


                                                #main-nav.collapse.navbar-collapse


                                                    ul.col-lg-6.col-md-7.col-xs-12.nav.navbar-nav.main-navbar

                                                        li
                                                            a(href='home_page.html') Home

                                                        li.dropdown
                                                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                                                | Contract Risk Management
                                                            ul.dropdown-menu

                                                                li
                                                                    a(href='#sumaticontractrisk') Sumati Contract Risk Management
                                                                        sup TM
                                                                li
                                                                    a(href='#legacy') Legacy Contract Migration
                                                                li
                                                                    a(href='#virtualattorney') Sumati Virtual Attorney
                                                                        sup TM

                                                                li
                                                                    a(href='#clmconfig') CLM Configuration / Customization

                                                                li
                                                                    a(href='#clmapplication') CLM Application Support

                                                                li
                                                                    a(href='#sumaticontracts') Sumati Contracts
                                                                        sup TM

                                                        li.dropdown
                                                            a.dropdown-toggle(href='#', data-toggle='dropdown2', role='button', aria-haspopup='true', aria-expanded='false')
                                                                | About
                                                            ul.dropdown-menu
                                                                li
                                                                    a(href='about_page.html#company') The Company

                                                                li
                                                                    a(href='about_page.html#ourteam') Our Team
                                                                li
                                                                    a(href='about_page.html#mgmt') Managment

                                                        li.dropdown

                                                            a.dropdown-toggle(href='#', data-toggle='dropdown2', role='button', aria-haspopup='true', aria-expanded='false')
                                                                | Contact

                                                            ul.dropdown-menu
                                                                li
                                                                    a(href='contact_page.html') Contact Sumati



                                .col-md-12

                                    h4 Sumati Contract Risk Management
                                        sup TM


                                .col-md-6
                                    h1 Reduce Risk.
                                        br
                                        | Increase Productivity.
                                    p
                                        strong Sumati Contract Risk Management
                                        sup TM
                                        |   attorneys substantively review
                                        |   and extract metadata from contracts, so companies can manage obligations and reduce risk.
                                        | Sumati technologists configure CLM systems and provide 24x7 support to ensure a solid operational foundation for contract management.
                                    p
                                        | We
                                        strong  Enable Lawyers to Practice More Law
                                        sup TM
                                        |   by executing non-bespoke work streams that are essential to the contract management process. Our experience supporting implementations of
                                        strong  Novatus, Apttus, Selectica and Ariba
                                        |   ensures the highest level of data integrity in our clients contract repositories.
                                        |   This is the foundation for obligation management, compliance and spend management.


                                .col-md-5.box-img-circles
                                    img.img-responsive(src="images/svg/circles_export.svg")


                                .col-md-9.col-xs-12
                                    .row
                                        .col-md-3
                                            .row
                                                span.glyphicon.glyphicon-plus
                                                span High Data Integrity

                                        .col-md-4.box-text-clm-platforms
                                            span.glyphicon.glyphicon-plus
                                            span Expert in CLM Platforms

                                        .col-md-3(id="legacy")
                                            .row
                                                span.glyphicon.glyphicon-plus
                                                span Turnkey Service

                section#discover
                    .col-md-12.paper
                        .container
                            .row

                                .col-md-12
                                    h4 Legacy Contract Migration

                                .col-md-12
                                    h1 Discover. Organize. Enrich.

                                .col-md-7 Sumati attorneys substantively review and extract metadata from
                                    br
                                    |legacy contracts, creating a pristine
                                    br
                                    |source of truth for contract documents and material obligations.

                                .col-md-12

                                    .col-md-12.rounded-box-white

                                        h4.data Data Integrity Is Our Primary Goal

                                        .col-md-10
                                            .row
                                                | Sumati has migrated almost
                                                strong  2 million contract documents
                                                |   across multiple industries and contract types.
                                                |   Sumati attorneys are power users of
                                                strong  Novatus, Apttus, Selectica and Ariba.
                                                |   This knowledge and our 100% QC, ensures contract metadata entered into your CLM system has high data integrity.


                                        .col-md-3.box-blue-border
                                            span.glyphicon.glyphicon-plus
                                            span Parent / Child Hierarchy

                                        .col-md-3.box-blue-border.margin-left-box
                                            span.glyphicon.glyphicon-plus
                                            span Industry Specific Metadata

                                        .col-md-3.box-blue-border.margin-left-box
                                            span.glyphicon.glyphicon-plus
                                            span Proactive Project Management


                                        .col-md-3.box-blue-border
                                            span.glyphicon.glyphicon-plus
                                            span Reconcile conflicting provisions

                                        .col-md-3.box-blue-border.margin-left-box
                                            span.glyphicon.glyphicon-plus
                                            span 100% QC

                                        .col-md-3.box-blue-border.margin-left-box(id="virtualattorney")
                                            span.glyphicon.glyphicon-plus
                                            span Fixed Price Model




                section#delegate
                    .col-md-12.box-white
                        .container
                            .row
                                .col-md-12
                                    h4 Sumati Virtual Attorney
                                        sup TM

                                .col-md-12
                                    h1 Delegate the Details
                                        br
                                        | and Practice More Law.

                                .col-md-12
                                    .row
                                        .col-md-7
                                            strong  Sumati Virtual Attorney
                                            sup TM
                                            |   efficiently performs systematic,
                                            br
                                            |non-bespoke activities, enabling lawyers to focus on substantive legal issues
                                            br
                                            |and strategic business negotiations.

                                .col-md-12.col-xs-12.icon-plus-text-container
                                    .row
                                        .col-md-4
                                            .row
                                                span.glyphicon.glyphicon-plus
                                                span Proven Workstreams
                                                p Honed CLM platform-specific work streams are executed efficiently by the Sumati Virtual Attorney teams.

                                        .col-md-4
                                            span.glyphicon.glyphicon-plus
                                            span Template Creation
                                            p Standardization of contract templates to drive consistency in negotiation and reduce risk of variable provisions.

                                        .col-md-4
                                            span.glyphicon.glyphicon-plus
                                            span Contract Review
                                            p First pass and substantive adjudication of counter-party redlines using Sumati created negotiation playbooks.

                                .col-md-3.box-image

                                    img.img-responsive.img-rounded(src="images/mac-professional.jpg")

                                .col-md-8.col-xs-12

                                    .col-md-10
                                        strong  Our seasoned attorney and technology teams create a seamless
                                            | workflow using CLM platforms like Novatus, Apttus, Selectica, Ariba to tackle administrative tasks more accurately, efficiently, and effectively.

                                    .col-md-12

                                        ul.list-unstyled

                                            li
                                                span.glyphicon.glyphicon-plus
                                                span Manage ongoing obligations

                                            li
                                                span.glyphicon.glyphicon-plus
                                                span Report on key metrics

                                            li
                                                span.glyphicon.glyphicon-plus
                                                span Create and manage execution of NDA's

                                            li
                                                span.glyphicon.glyphicon-plus
                                                span Verify accuracy of counter-party and client contracting entity

                                            li(id="clmconfig")

                                                span.glyphicon.glyphicon-plus
                                                span Close out and putaway new contracts post-execution


                section#deepexp
                    .col-md-12.box-blue.clearfix

                        .container
                            .row

                                .col-md-12.col-xs-12

                                    h4 CLM Configuration/Customization


                                .col-md-8.col-xs-12

                                    h1 Deep Experience on
                                        br
                                        | Market Leading CLM platforms.
                                    p   Sumati dedicated Development and Software QA teams are experienced
                                        | in supporting implementations of Apttus CLM and Selectica SmartContracts.
                                        | Our combination of Contract Management knowledge and software development expertise assures the unique needs of each client are met.

                                .col-md-4.col-xs-8.col-xs-offset-2.logos-panel

                                    img.img-responsive(src="images/logos-panel.png")


                                .col-md-12.col-xs-12.icon-plus-text-container

                                    .row
                                        .col-md-4.col-xs-12.apptus

                                            span.glyphicon.glyphicon-plus
                                            span Apttus/Salesforce
                                            p Our developers use Visual Force to replicate Apttus templates and customize them per our client needs.
                                                | Our teams work while our clients sleep, often making builds available in the next business morning.

                                        .col-md-4.col-xs-12

                                            span.glyphicon.glyphicon-plus
                                            span Selectica SmartContracts
                                            p Whether our Selectica clients need new contract templates or rapid builds of Dynamic Inclusion clauses,
                                                | our developers provide rapid configurations, making it easy for clients to respond to user needs


                                        .col-md-4.col-xs-12

                                            span.glyphicon.glyphicon-plus
                                            span Lower Costs
                                            p(id="clmapplication") Sumati's India based CLM Development center enables our clients to achieve rapid response as well as a lower cost basis for ongoing CLM application maintenance and development.


                section#support
                    .col-md-12.support-team
                        .container
                            .row
                                .col-md-12
                                    h4 CLM Application Support
                                .col-md-12
                                    h1 You’ll Know Your CLM
                                        br
                                        | Support Team By Name.

                                .col-md-6 Our Application Support Team provides 24 x 7 support, by email,
                                    | phone or live chat - across the globe.
                                    br
                                    | Sumati CLM experts respond to Apttus and Selectica workflow issues and see each inquiry through to resolution.

                                .col-md-12.icon-box
                                    img.img-responsive(src="images/svg/icons.svg")


                                .col-md-12
                                    .col-md-12.col-xs-12.rounded-box-white

                                        .col-md-4.col-xs-12
                                            span.glyphicon.glyphicon-plus
                                            span CLM Expertise 24 x 7
                                            p A CLM specific complement to your
                                                | IT help desk, our professionals know your CLM configuration and are expert in contract management.

                                        .col-md-4.col-xs-12
                                            span.glyphicon.glyphicon-plus
                                            span Same Day Resolution
                                            p Users need rapid resolution to work at the speed of business. More than 90% of Level 1 inquires are resolved same day, maximizing user adoption.

                                        .col-md-4.col-xs-12(id="sumaticontracts")
                                            span.glyphicon.glyphicon-plus
                                            span Rigorous Documentation + Reporting
                                            p Support processes are documented in detailed play books and iterated continuously. Cycle time and resolution metrics optimize responsiveness.



                section#ultimate
                    .col-md-12.box-white
                        .container
                            .row
                                .col-md-12
                                    h4 Sumati Contracts
                                        sup TM

                                .col-md-9

                                    h1 The Ultimate Contract Risk
                                        br
                                        | Management Library
                                    p
                                        strong Introducing Sumati Contracts
                                            sup TM
                                        |   a hardened contract library
                                        |   that acts as a source of truth
                                        br
                                        | for all material obligations of your company.

                                .col-md-3.box-logo-container

                                    img.img-responsive(src="images/svg/box_logo.svg")

                                .col-md-12
                                    .col-md-12.rounded-box-whitesmoke

                                        .col-md-4
                                            span.glyphicon.glyphicon-plus
                                            span Box® Security and Infrastructure
                                            p The Box multi-layer authentication model is highly secure and with efficient infrastructure management. Sumati Contracts is a true SaaS app.

                                        .col-md-4
                                            span.glyphicon.glyphicon-plus
                                            span Unlimited Storage
                                            p Sumati Contracts stores an unlimited number of contract documents and relevant, high integrity metadata in our searchable contract library.

                                        .col-md-4
                                            span.glyphicon.glyphicon-plus
                                            span Staging for CLM Migration
                                            p Sumati ContractsTM is also used as
                                                | a staging area prior to a migration to a full-fledged CLM system such as Novatus, Apttus, Selectica or Ariba.




        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        //- script(src="bower_components/jquery/dist/jquery.js")

        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        //- script(src="bower_components/bootstrap/dist/js/bootstrap.js")

        script(src="javascript/j.js")

        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
            script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
            script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

